.greeting__text {
    color: #42446E;
    font-size: 58px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -1px;
    max-width: 636px;
    margin: 0;
}

@media (max-width: 1040px) {
    .greeting__text {
        font-size: 49px;
    }
}

@media (max-width: 900px) {
    .greeting__text {
        font-size: 42px;
    }
}

@media (max-width: 714px) {
    .greeting__text {
        margin-top: 27px;
    }
}

@media (max-width: 425px) {
    .greeting__text {
        margin-top: 27px;
        font-size: 36px;
    }
}