.stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 348px;
}

@media (max-width: 1040px) {
    .stack {
        margin-top: 250px;
    }
}

@media (max-width: 900px) {
    .stack {
        margin-top: 200px;
    }
}

@media (max-width: 600px) {
    .stack {
        align-items: flex-start;
        margin-top: 150px;
    }
}